version : "3.9"

services :
  db :
    image : postgres:14.1-alpine
    environment :
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    logging :
      options :
        max-size : 10m
        max-file : "3"
    ports :
      - '5432:5432'
    volumes :
      - ./postgres-data:/var/lib/postgresql/data
      # copy the sql script to create tables
  #        - ./sql/create_tables.sql:/docker-entrypoint-initdb.d/create_tables.sql
  redis_master :
    image : 'bitnami/redis:latest'
    container_name : app_redis
    ports :
      - "6382:6379"
    environment :
      - REDIS_USER=master
      - REDIS_PASSWORD=ish@kap7712
